*{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 215, 234)
}
.top{
    width: 96.3%;
    padding: 30px;
    border: 5px solid skyblue;
    background-color: skyblue;
    margin: 0;
}
.main{
    display: flex;
    width: 100%;
    margin-top: 30px;
}
.left{
    width: 70%;
    height: 45rem;
    margin-right: 40px;
    margin-left: 40px;
}
.top-l{
    width: 99.5%;
    border: 5px solid skyblue;
    background-color: skyblue;
    height: 2rem;
}
.left-l{
    table-layout: 10rem 10rem 10rem 20rem;
    margin-top: 15px;
}
.right-l{
    border: 5px solid skyblue;
    background-color: skyblue;
    width: 39rem;
    height: 41rem;
    margin-top: 15px;
    margin-left: 40px;

}
.t-box{
    background-color:skyblue;
    border: 5px solid skyblue;
    width: 10rem;
    height: 2rem;
    margin-bottom: 15px;

}
.box{
    background-color:skyblue;
    border: 5px solid skyblue;
    width: 10rem;
    height: 7rem;
    margin-right: 26.5px;
}
.b-box{
    background-color:skyblue;
    border: 5px solid skyblue;
    width: 10rem;
    height: 2rem;
    margin-bottom: 15px;
    margin-top: 10px;
    opacity: 0.6;
    text-align: center;

}
.debar{
    border: 5px solid skyblue;
    width: 33.7rem;
    margin-bottom: 15px;

}
.bottom-l{
    background-color:skyblue;
    border: 5px solid skyblue;
    width: 34.5rem;
    height: 8.5rem;
    margin-bottom: 15px;
}
.min{
    background-color:skyblue;
    border: 5px solid skyblue;
    width: 30rem;
    height: 30rem;

}

.right{
    width: 30%;
    height: 45rem;
    margin-right: 60px;
}.img{
    width: 33rem;
    border: 5px solid skyblue;
    background-color:skyblue;
    height: 19rem;
    margin-bottom: 15px;
}
.tr-box{
    background-color:skyblue;
    border: 5px solid skyblue;
    width: 33rem;
    height: 2rem;
    margin-bottom: 15px;
}
.boxr{
    background-color:skyblue;
    border: 5px solid skyblue;
    width: 7rem;
    height: 7rem;
}
.text-box{
    background-color:skyblue;
    border: 5px solid skyblue;
    width: 25.4rem;
    height: 7rem;
    opacity: 0.6;
    display: grid;
    place-items: center;
}
.tt-box{
    background-color:skyblue;
    border: 5px solid skyblue;
    width: 33rem;
    height: 1rem;
    opacity: 0.6;
    text-align: center;
}
.debar2{
    margin-top: 15px;
    border: 5px solid skyblue;
    width: 33rem;
    margin-bottom: 15px;
}
.tt2-box{
    background-color:skyblue;
    border: 5px solid skyblue;
    width: 33rem;
    height: 1rem;
    opacity: 0.6;
    text-align: center;
}